<ion-header>
  <ion-toolbar>
    <ion-title>Caminando</ion-title>
    <ion-item color="danger" slot="end">walkkkkkkkkkkk</ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-label>Distancia andando:</ion-label>
      <ion-input [ngModel]="distancia"></ion-input>
      <ion-label>Km</ion-label>
      <ion-item color="primary" slot="end">
        <ion-icon name="walk-outline"></ion-icon>
      </ion-item>
    </ion-item>
  
    <ion-item>
      <ion-label>Tiempo:</ion-label>
      <ion-label>{{tiempo}}</ion-label>
      <ion-label color="danger" slot="end">MIN</ion-label>
    </ion-item>
    <ion-button expand="full" (click)="calcular(velocidad)" color="danger">Calcular</ion-button>
    
    
</ion-content>
